fastapi
uvicorn
sqlalchemy
pg8000
langchain
langchain-community
google-generativeai
chromadb
pypdf
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pydantic-settings
email-validator
langchain-google-genai
pysqlite3-binary
langchain-text-splitters
faiss-cpu
